<html>
<head>
	<meta charset="UTF-8">
	<title> {% block title %}Service{% endblock%}</title>
	<!-- Loads the path to static file-->
	{% load staticfiles %}
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
	<link rel="stylesheet" type="text/css" href="{% static 'service/style.css' %}"/>
	<link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet"> 
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>

<body>
	<!-- Logo - Nav Bar -->
	<nav class = "navbar navbar-inverse">
	<div class="container-fluid">

		<div class = "navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavBar">
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<a class="navbar-brand" href="{% url 'service:index' %}"> Genius </a>
		</div>

		<!-- Individual items - Don's forget to make the class active -->
		<div class="navbar-collapse collapse" id="topNavBar">

			<ul class="nav navbar-nav">
				<li class="">
					<a href="{% url 'service:room' %}">
						<span class="glyphicon glyphicon-bed" aria-hidden="true"></span>&nbsp Rooms
					</a>
				</li>
				<li class="">
					<a href="{% url 'service:book' %}">
						<span class="glyphicon glyphicon-book" aria-hidden="true"></span>&nbsp Textbooks
					</a>
				</li>
			</ul>

			<ul class="nav navbar-nav navbar-right">
				{% block addbar %}
				{% endblock %}
				<!-- <li class="">
					<a href="#">
						<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp Add Room
					</a>
				</li> -->
				{% if request.user.is_authenticated %}
				<!-- Link to user's profile -->
				<li class="">
					<a href="{% url 'service:personal-rooms' %}">
						<span class=" glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp hello {{request.user.username}}
					</a>
				</li>
				<li class="">
					<a href="{% url 'service:logout' %}">
						<span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>&nbsp Log Out
					</a>
				</li>
				{% else %}
				<li class="">
					<a href="{% url 'service:login' %}">
						<span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>&nbsp Log In
					</a>
				</li>
				<li class="">
					<a href="{% url 'service:register' %}">
						<span class="glyphicon glyphicon-tree-conifer" aria-hidden="true"></span>&nbsp Register
					</a>
				</li>
				{% endif %}
				
			</ul>

		</div>

	</div>
	</nav>

<!-- block of code after nav bar -->
{% block body %}
{% endblock%}

</body>
</html>