{% extends 'service/base.html' %}
{% block title %}Textbook{% endblock %}
{% block books_active %}active{% endblock %}
{% block addbar %}
{% if request.user.is_authenticated %}
<li class="">
	<a href="{% url 'service:book-add' %}">
		<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp Add Book
	</a>
</li>
{% endif %}
{% endblock %}

{% block body %}

	<div class="rooms-container container">
		<div class="row">
			<form class="navbar-form navbar-left" role="search" method="get" action= "#" enctype="multipart/form-data">
				<div class="form-group">
					<input type="text" class="form-control" name="q" value="">
				</div>
				<button type="submit" class="btn btn-default">Search Book</button>
			</form>
		</div>

		<h1>Books to Sale</h1>
		<div class="list-group">
			{% for book in all_books %}
				<a href="{% url 'service:detail-book' book.id %}" class="list-group-item" style="color:black;">
						<div class="media-left">
							<img src="{{ book.photo.url }}" class="img.responsive">
						</div>
						<div class="media-body">
							<h3 class="media-heading">{{ book.title }} - {{ book.course }}</h3>
							<small>posted by {{ book.user.username }}</small>
							<h3 class="media-body">${{ book.price }}</h3>
						</div>
				</a>
			{% endfor %}
		</div>
	</div>

{% endblock %}