{% extends 'service/base.html' %}
{% block questions_active %}active{% endblock %}
{% block title %}Book Detail{% endblock %}

{% block body %}

	<div class="detailbook-container container">
		<div class="panel panel-default">
			<div class="panel-body">
				<div class="row">
					<img src="{{ book.photo.url }}" class="img-responsive center-block">
				</div>
				<div class="row">
					<h2 class="text-center">{{ book.title }}</h2>
					<p class="text-center">{{ book.course }}</p>
					<p class="text-center"> Price: ${{ book.price }}</p>
					<p class="text-center">{{ book.description }}</p>
				</div>
			</div>
		</div>
	</div>

{% endblock %}