{% extends 'service/base.html' %}
{% block questions_active %}active{% endblock %}

{% block body %}
	{% load static %}
	<div class="container">
		<header class="jumbotron hero-spacer">
			<h1 style="color:#696969">Wecome to Genius</h1>
			<p style="color:#696969">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, ipsam, eligendi, in quo sunt possimus non incidunt odit vero aliquid similique quaerat nam nobis illo aspernatur vitae fugiat numquam repellat.</p>
		</header>
	</div>

{% endblock %}
