{% extends 'service/base.html' %}
{% block title %}Restaurant{% endblock %}
{% block rooms_active %}active{% endblock %}

{% block addbar %}
{% if request.user.is_authenticated %}
<li class="">
	<a href="{% url 'service:restaurant-add' %}">
		<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp Add Restaurant
	</a>
</li>
{% endif %}
{% endblock %}

{% block body %}
	<div class="restaurants-container container">
		<div class="row">
			<h1>Food and Beverage</h1>
			<div class="list-group">
				{% for restaurant in all_restaurants %}
					<a href="{% url 'service:detail-restaurant' restaurant.id %}" class="list-group-item" style="color:black;">
						<div class="media-left">
							<img src="{{ restaurant.photo.url }}" class="img.responsive">
						</div>
						<div class="media-body">
							<h3 class="media-heading">{{ restaurant.title }}</h3>
							<small>{{ restaurant.location }}</small>
							<p>{{ restaurant.description }}</p>
						</div>
					</a>
				{% endfor %}
			</div>
		</div>
	</div>

{% endblock %}