{% extends 'service/base.html' %}
{% block title %}Room{% endblock %}
{% block rooms_active %}active{% endblock %}
{% block addbar %}
{% if request.user.is_authenticated %}
<li class="">
	<a href="{% url 'service:room-add' %}">
		<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp Add Room
	</a>
</li>
{% endif %}
{% endblock %}

{% block body %}

	<!-- Old code keeps the same -->
	<div class="rooms-container container">

		<div class="row">
		<form class="navbar-form navbar-left" role="search" method="get" action= "#" enctype="multipart/form-data">
			<div class="form-group">
				<input type="text" class="form-control" name="q" value="">
			</div>
			<button type="submit" class="btn btn-default">Search Room</button>
		</form>
		</div>

		<h1>Available Rooms</h1>
		<div class="list-group">
		{% for room in all_rooms %}
		<a href="{% url 'service:detail' room.id %}" class="list-group-item" style="color:black;">
			<h4>{{ room.title }}</h4>
			<small>posted by {{ room.user.username }}</small>
		</a>
		{% endfor %}
		</div>
		
	</div>

{% endblock %}