{% extends 'service/base.html' %}
{% block title %}Owned Room{% endblock %}
{% block rooms_active %}active{% endblock %}
{% block addbar %}
{% if request.user.is_authenticated %}
<li class="">
	<a href="{% url 'service:room-add' %}">
		<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp Add Room
	</a>
</li>
{% endif %}
{% endblock %}

{% block body %}
	{% for room in all_rooms %}
		<div class="caption">
			<h4 style="color:white">{{ room.title }}</h4>
			<form action="{% url 'service:room-delete' room.id %}" method="post" style="display: inline;">
				{% csrf_token %}
				<input type="hidden" name="room_id" value="{{ room.id }}">
				<button type="submit" class="btn btn-default btn-sm">
					<span class="glyphicon glyphicon-trash"></span>
				</button>
			</form>
		</div>
	{% endfor %}

{% endblock %}