{% extends 'service/base.html' %}
{% block title %}Owned Room{% endblock %}
{% block rooms_active %}active{% endblock %}

{% block body %}
	{% for obj in all %}
		<div class="caption">
			<h4 style="color:white">{{ obj.title }}</h4>

			{% if obj.get_type == "Room" %}
			<form action="{% url 'service:room-delete' obj.id %}" method="post" style="display: inline;">
				{% csrf_token %}
				<input type="hidden" name="obj_id" value="{{ obj.id }}">
				<button type="submit" class="btn btn-default btn-sm">
					<span class="glyphicon glyphicon-trash"></span>
				</button>
			</form>
			{% endif %}

			{% if obj.get_type == "Book" %}
			<form action="{% url 'service:book-delete' obj.id %}" method="post" style="display: inline;">
				{% csrf_token %}
				<input type="hidden" name="obj_id" value="{{ obj.id }}">
				<button type="submit" class="btn btn-default btn-sm">
					<span class="glyphicon glyphicon-trash"></span>
				</button>
			</form>
			{% endif %}

			{% if obj.get_type == "Restaurant" %}
			<form action="{% url 'service:restaurant-delete' obj.id %}" method="post" style="display: inline;">
				{% csrf_token %}
				<input type="hidden" name="obj_id" value="{{ obj.id }}">
				<button type="submit" class="btn btn-default btn-sm">
					<span class="glyphicon glyphicon-trash"></span>
				</button>
			</form>
			{% endif %}
		</div>
	{% endfor %}

{% endblock %}